/*
CONTENT
*/

#content {
  overflow: hidden;
  width: 100%;
  min-height: 800px;
  margin: 0 auto;
}

.contentFiles{
}

#main {
  vertical-align: top;
}

/*
CONTENT SIDEBAR
*/
#filetree ul {
  list-style-type: none; /* Remove default bullets */
}

ul li:before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #5D9818; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */ 
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
  padding-bottom: 3px;
  padding-top: 3px;
  border: none;
}

#filetree {
  width: 260px;
  float: left;
  background-color: #DDD;
  padding: 8px;
  margin: 12px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

#filetree ul {
  width: auto;
  margin: auto;
  padding-inline-start: 0px;
}

#filetree li {
  display: block;
  margin-left: 16px;
  font-family: "Lato", sans-serif;
  cursor: pointer;    
}

.sidesub li {
  margin-left: 32px !important;
}

#filetree li:hover {
  background-color: #666;    
}

/*
CONTENT ITEMS
*/

.item {
  position: relative;
  margin: 5px;
  float: left;
  height: 290px;
  width: 290px;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.5);
}

.item:last-of-type {
  margin-bottom:  11px; !important;
}

.img {
  margin: 2% 2% 2% 2%;
  height: 61%;
  width: 96%;
  max-height: 150px;
  max-width: 290px;
}

.name {
  padding: 0px 10px 2px 10px;
  margin: 0;
}

.nameIcon{
	float: left;
	width: 18px;
	margin-left: 5px;
	margin-right: 15px;
}

.subject {
    padding: 0px 10px 2px 10px;
	margin: 0;
}

.subjectIcon{
	float: left;
	width: 18px;
	margin-left: 5px;
	margin-right: 15px;
}

.desc {
    padding: 0px 10px 2px 10px;
	margin: 0;
}

.loginLink{
	display: contents;
}

.downloadIcon{
	position: absolute;
	bottom: 5px;
	right: 5px;
	width: 20px;
	margin:auto;
}
@media only screen and (max-width: 600px) {
	#filetree {
	  display:none;
	}
}