/*
custom header
*/

/*
CONTENT
*/

#content {
}

#content #loggedIn {

  margin: 0;
  	margin-top: 25px;
  text-align: center;
  cursor: default;
  font-size: 20px;
}

#content #signIn {
  background-color: #789D4A;
  max-width: 300px;
  padding: 20px;
  margin: 70px auto 50px auto;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
}

#content #signIn p:nth-of-type(1) {
	padding: 5px;
}

#content #signIn p {
  margin: 5px;
  text-align: center;
  overflow: hidden;
  cursor: default;
  font-size: 20px;
}


#content input[type=password],#content input[type=text] {
  text-align: center;
  border-width: 0px;
  width: 250px;
  padding: 10px 5px;
  background-color: #DDD;
  font-size: 20px;
}

#content input::placeholder {
  text-align: center;
  color: gray;
}

#content input[type=submit] {
  margin: 10px auto;
  cursor: pointer;
  background-color: #191919;
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  font: 10px ;
  display: inline-block;
  font-size: 20px;
}

#content input[type=submit]:hover {
  background-color: #323232
}
.footerOutro{
	position: absolute;
}

#warning {
	color: #191919;
	text-decoration: underline;
	margin-left: 50px;
}

/*
custom footer
*/


