h1, h2, h3, h4, h5, h6, p, ul, li, span, input{
	font-family: "Lato", sans-serif;
}
button, a{
	font-family: "Montserrat", sans-serif;
}

body {
	padding: 0;
	margin: 0;
	position: relative;
    min-height: 100vh;
}

/*
Clear is for correcting possible float:; visual artifacts
*/

.clear {
  clear: both;
}

/*
NAVIGATION BAR
*/

.navBar {
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 50px;
	top: 0;
	background-color: #789D4A;
	box-shadow: 0px 1px 15px #090f02;
}

#sduLogo{
	height: 45px;
	float: left;
	margin-top: 3px;
	margin-left: 10px;
}

.navBarLinks{
	text-align: center;
	display:block;
	margin: auto;
	padding: 14px;
}

.navBarLinks a{
	height: 50px;
	padding: 14px 2% 17px 2%;

	margin: -4px;
	color: #000000;

	text-decoration: none;
	font-weight: bold;
}

.navBarLinks a:hover{
	background-color: #AEB862;
}

.navBarLinks a:visited{
	color: #000000;
}

.navBarLinks a:active{
	background-color: #6da22f;
}

#dummyNavBar { /* to push all elements down so the navbar dont cover them up*/
	width: 100%;
	height: 55px;
	margin: none auto;
}

/*
CONTENT mostly uniq so empty
*/



/*
footer
*/

.footerOutro{
	background-color: #E5E5E5;
	width: 100%;
	bottom: 0;
	height: 200px;
	text-align: center;
}

#footer{
	padding-top: 80px;
}

#footer a{
	vertical-align: middle;
	color:#000000;
	margin-left: 10px;
	margin-right: 10px;
	text-decoration: none;
}

#footer a:hover{
	text-decoration:underline;
}

#footer a:visited{
	color: #000000;
}

#footer a:active{
	color: #000000;
}

#sduLink{
	height: 15px;
	margin-top: 20px;
}


.poweredBY2{
	font-family: "Lato", sans-serif;
	color:#999999
	
}

#dummyFooter { /* to push all elements down so the footer dont cover them up*/
	width: 100%;
	height: 200px;	
}