h1, h2, h3, h4, h5, h6, p{
	font-family: "Lato", sans-serif;
}
button, a{
	font-family: "Montserrat", sans-serif;
}

body {
	padding: 0;
	margin: 0;
}

.navBar {
	position: fixed;
	width: 100%;
	height: 50px;	
	background-color: #5d9818;
	box-shadow: 0px 1px 15px #090f02;
}

#sduLogo{
	height: 20px;
	float: left;
	margin-top: 13px;
	margin-left: 10px;
}

.navBarLinks{
	text-align: center;
	padding: 14px;
}

.homeLink, .Link1, .Link2, .Link3{
	height: 100%;
	padding: 1.14% 2%;
	margin: -4px;
	color: #000000;
	background-color: #5d9818;
	text-decoration: none;
	font-weight: bold;
}
.homeLink:hover, .Link1:hover, .Link2:hover, .Link3:hover{
	background-color: #afd775;
}

.homeLink:visited, .Link1:visited, .Link2:visited, .Link3:visited{
	color: #000000;
}
.homeLink:active, .Link1:active, .Link2:active, .Link3:active{
	background-color: #6da22f;
}
.frontPageHeader{
	padding: 126px 16px;
	text-align: center;
	background-color: #5d9818;
	margin: 0;
}
#frontPageIntro {
	color: #ffffff;
	font-size: 80px;
}
#frontPageParagaph{
	color: #ffffff;
	font-size: 25px;
}
#signUpButton{
	background-color: #000000;
	color: #ffffff;
	border: none;
	height: 40px;
	width: 100px;
}
#signUpButton:hover{
	background-color: #323232;
}
#signUpButton:focus{
	outline: 0;
}
#signUpButton:active{
	background-color: #191919;
}

.contentContainer{
	width: 100%;
	height: 400px;
	background-color: #FFFFFF;
	margin-top: -22px;
}
.contentContainer2{
	width: 100%;
	height: 400px;
	margin-top: 100px;
	padding-bottom: 100px;
	background-color: #e5e5e5;
}
.contentWhite{
	padding-top: 60px;
	margin-left: 18%;
	margin-right: 18%;
	width: 64%;
}
.contentGrey{
	padding-top: 60px;
	margin-left: 18%;
	margin-right: 18%;
	width: 64%;
}
.firstText{
	width:60%;
	float: left;
}
.secondText{
	width: 60%;
	float: left;
}
.contentHeader{
	font-size: 40px;
}

.contentTextBlack{
	font-size: 18px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.contentTextGrey{
	font-size: 14px;
	color: #999999;
}

#firstFrontPageImg{
	float: left;
	padding-top: 75px;
	height: 250px;
}
#secondFrontPageImg{
	float: left;
	padding-top: 75px;
	padding-right: 20px;
	height: 200px;
}
.fillerContentContainer{
	text-align: center;
	margin-top: -23px;
	background-color: #333333;
	width: 100%;
	height: 200px;
}
.question{
	font-weight: bold;
	color: #ffffff;
	font-size: 20px;
	padding-top: 65px;
}
.answer{
	font-style: italic;
	color: #ffffff;
	padding-bottom: 10px;
}
.poweredBY2{
	font-family: "Lato", sans-serif;
	color:#999999
	
}
.footerOutro{
	background-color: #E5E5E5;
	width: 100%;
	height: 200px;
	text-align: center;
}
#footer{
	padding-top: 80px;
}
#footerLink1, #footerLink2, #footerLink3, #footerLink4{
	vertical-align: middle;
	margin-left: 10px;
	margin-right: 10px;
	text-decoration: none;
}
#footerLink1:hover, #footerLink2:hover, #footerLink3:hover, #footerLink4:hover{
	text-decoration:underline;
}
#footerLink1:visited, #footerLink2:visited, #footerLink3:visited, #footerLink4:visited{
	color: #000000;
}
